# -------------------- ENV --------------------
.env
.env.*
*.local

# -------------------- NODE --------------------
node_modules/
dist/
build/
.cache/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# -------------------- PYTHON --------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
venv/
.venv/
myvenv/

# -------------------- DATABASE --------------------
*.sqlite3
*.db

# -------------------- LOGS --------------------
logs/
*.log
*.out
*.err

# -------------------- TEST --------------------
coverage/
.pytest_cache/
.jest/

# -------------------- IDE --------------------
.vscode/
.idea/
.DS_Store
*.swp

# -------------------- MISC --------------------
*.bak
*.tmp